@media all and (max-width: 1440px) {
  .s__header--text-nav {
    font-size: 13px;
  }
}

@media all and (max-width: 768px) {
  html [id], body [id] {
    scroll-margin: 80px !important;
    scroll-behavior: smooth;
  }
  .s__slider--main__thumbnail--next {
    bottom: 56px;
  }
  .s__slider--main__thumbnail {
    right: 10px;
  }
  .s__header--close-mobile {

  }
  .s__header.fixed {
    display: flex;
    justify-content: space-between;
  }
  .s__slider {
    margin-top: -64px;
  }
  .s__header--logo {
    img.logo {
      width: 49px;
    }
  }
  .s__header--search__wraps {
    height: 32px;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  .s__header {
    padding: 14px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  .img-mes {
    width: 32px;
    height: 32px;
  }
  .s__header--search {
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    cursor: pointer;
    align-items: center;

    span:last-child {
      display: flex;
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  }
  .s__header--lang {
    width: calc(100% / 3);
  }
  .s__slider--main__description--title {
    color: var(--white, #FFF);
    font-size: 29px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
    max-width: 322.64px;
  }
  .s__slider--main__description--short {
    color: var(--white, #FFF);
    font-size: 16px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 335px;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .s__slider--main__description--button {
    a {
      color: var(--white, #FFF);
      font-size: 16px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 20px;
    }
  }
  .s__topic--top__left {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    height: auto;
  }
  .s__topic--top__right {
    display: none;
  }
  .s__container {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
  .s__topic {
    width: 100%;
    margin-top: 52px;
  }
  .s__box_label {
    h2 {
      color: #000;
      font-size: 29px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 25.68px;
    }
  }
  .s__box_description {
    display: none;
  }
  .s__topic--top__item--info.has-bg {
    background: transparent;
    padding: 0;
  }
  .s__topic--top__item--info.w-345 {
    max-width: 235px;
  }
  .s__topic--top__item--info__button {
    display: none;
  }
  .s__topic--slider__head {
    display: none;
  }
  .s__topic--top__item--info__title {
    h3 {
      color: var(--white, #FFF);
      text-shadow: 2px 2px 7px 0px rgba(18, 18, 18, 0.50);
      font-size: 22px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .s__topic--top__item--info__description {
    color: #FFF;
    text-shadow: 2px 2px 7px 0px rgba(18, 18, 18, 0.50);
    font-size: 14px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
  }
  .s__topic--slider__content--item:first-child {
    margin-right: 0;
  }
  .s__topic--slider__content--item {
    width: 100%;
    max-width: 100%;
  }
  .slider-topic {
    margin-left: 20px;

    .carousel__slide {
      padding: 7.5px;
    }

    .s__topic--top__item--info {
      padding: 0 24px;

      .s__topic--top__item--info__title {
        color: var(--white, #FFF);
        text-shadow: 2px 2px 7px 0px rgba(18, 18, 18, 0.50);
        font-size: 22px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: left;
      }

      .s__topic--top__item--info__description {
        text-align: left;
      }
    }
  }
  .s__endow {
    margin-top: 72px;
  }
  .s__endow--content {
    display: flex;
    flex-direction: column;
  }
  .s__endow--content__left {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .s__endow--content__right {
    width: 100%;
    max-width: 100%;
  }
  .s__experience--head__title {
    color: #FFF;
    font-size: 29px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;

    .color-yellow {
      color: #FCDC17;
    }
  }
  .s__experience--head__description {
    color: var(--white, #FFF);
    font-size: 16px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
  .s__experience--three {
    padding: 0 20px;
    margin-top: 28px;
  }
  .s__experience--three__item {
    width: 100%;
    margin-bottom: 24px;
  }

  .s__experience--three__item {
    .carousel__slide {
      margin: 15px;
      max-width: 370px;
      border-radius: 5px;
    }

    .carousel__item {
      a {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &--image {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;

        &__icon {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 80px;
          height: 80px;
          background: #fff;
          border-radius: 5px;
        }

        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      &--head {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__left {
          width: 50%;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          /* identical to box height, or 157% */

          text-transform: uppercase;

          /* Black 1 */

          color: #888888;
          display: flex;
        }

        &__right {
          width: 50%;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: right;
          justify-content: flex-end;
          /* White */

          color: #FFFFFF;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8.14px;
          }

        }
      }

      &--title {
        width: 100%;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;

          /* White */

          color: #FFFFFF;
          text-align: left;
        }
      }

      &--price {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        /* White */

        color: #FFFFFF;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 8px;
      }
    }

    .carousel__next {
      width: 41.14px;;
      height: 41.14px;
      background: rgba(225, 225, 225, 0.3);
      border-radius: 50%;

      svg {
        color: #fff;
      }
    }

    .carousel__prev {
      width: 41.14px;;
      height: 41.14px;
      background: rgba(225, 225, 225, 0.3);
      border-radius: 50%;

      svg {
        color: #fff;
      }
    }
  }

  .s__activities {
    width: 100%;
    background: #fff;
    margin-top: 72px;
  }
  .s__customers--title {
    color: #000;
    text-align: center;
    font-size: 29px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__customers--items {
    flex-direction: column;
  }
  .s__footer.register-info__description {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 22px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__info {
    flex-direction: column;
  }
  .s__info--right {
    width: 100%;
    display: flex;
    flex-direction: column;

    .w-50 {
      width: 100%;
    }
  }
  .s__info--left {
    width: 100%;
  }
  .s__sitemap {
    flex-direction: column;
  }
  .s__sitemap--item {
    width: 100%;
  }
  .s__header--logo a img {
    max-width: 49px
  }
  .s__header--logo {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .s__nav-mobile {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &--wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 64px;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 16px;

        li {
          cursor: pointer;
          list-style: none;
          padding: 12px 0;
          position: relative;

          &:after {
            content: url("/assets/images/icon-arrow-nav.svg");
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }

          & + li {
            border-top: 1px #E1E1E1 solid;
          }
        }
      }
    }
  }

  .s__nav-mobile--detail {
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    position: fixed;

    &__header {
      width: 100%;
      height: 64px;
      max-height: 64px;
      background: var(--greenie-pine, #03483F);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 16px 20px;
      color: #FFFDFD;
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          margin-right: 6px;
        }
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;

      &--title {
        width: 100%;
        display: flex;
        padding: 30px 0 12px 20px;
        color: #000;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        margin-bottom: 24px;

        &:before {
          content: "";
          width: 93px;
          height: 2px;
          flex-shrink: 0;
          background: #F9CF4B;
          bottom: 0;
          position: absolute;
          left: 0;
        }
      }

      &--wrap {
        width: 100%;
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }
    }
  }

  .s__nav-mobile--detail--child {
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    position: fixed;

    &__header {
      width: 100%;
      height: 64px;
      max-height: 64px;
      background: var(--greenie-pine, #03483F);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 16px 20px;
      color: #FFFDFD;
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          margin-right: 6px;
        }
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;

      &--title {
        width: 100%;
        display: flex;
        padding: 30px 0 12px 20px;
        color: #000;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        margin-bottom: 24px;

        &:before {
          content: "";
          width: 93px;
          height: 2px;
          flex-shrink: 0;
          background: #F9CF4B;
          bottom: 0;
          position: absolute;
          left: 0;
        }
      }

      &--wrap {
        width: 100%;
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }
    }
  }

  .s__nav-mobile--items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;

    > * {
      flex: 0 0 47.6%;
    }

    &__item {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      cursor: pointer;

      &--image {
        width: 100%;
        display: flex;
        border-radius: 5px 5px 0 0;

        img {
          width: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      &--title {
        width: 100%;
        border-radius: 0 0 5px 5px;
        color: var(--rick-back, #121212);
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 4px 0 8px 8px;
        background: var(--back-1, #E1E1E1);
      }
    }
  }

  .s__nav-mobile--items__type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;

    > * {
      flex: 0 0 30%;
    }

    &__item {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      cursor: pointer;

      &--image {
        width: 100%;
        display: flex;
        border-radius: 5px 5px 0 0;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 5px 5px 0 0;
        }
      }

      &--title {
        width: 100%;
        color: var(--black-1, #888);
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        margin-top: 8px;
      }
    }
  }
  .s__nav-mobile--items__coupons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;

    > * {
      flex: 0 0 100%;
    }

    &__item {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      cursor: pointer;
      background: var(--rick-back, #a8a6a6);
      height: 111px;
    }
  }

  /**/

  .s__box-search-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    background: #fff;
    z-index: 99999;
    top: 0;

    &__header {
      width: 100%;
      height: 64px;
      background: #0D4C3F;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--title {
        display: flex;
        justify-content: flex-start;

        span {
          color: var(--white, #FFF);
          font-family: Source Sans Pro;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;

          &.has-color-yellow {
            color: var(--sunrise-bromo, #FCDC17);
            font-family: Source Sans Pro;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }
        }
      }

      &--button {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
    }
  }
  .s__box-search-mobile__wrapper {
    width: 100%;
    height: calc(100vh - 64px);
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 24px 20px;

    &--box {
      margin-bottom: 8px;
      width: 100%;
      padding: 16px 24px;
      border-radius: 5px;
      border: 1px solid var(--back-5, rgba(225, 225, 225, 0.30));
      background: rgba(225, 225, 225, 0.30);

      &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left {
          display: flex;
          justify-content: flex-start;
          display: flex;
          width: 152px;
          height: 24px;
          padding-bottom: 0px;
          align-items: center;
          flex-shrink: 0;
        }

        &--right {
          display: flex;
          justify-content: flex-end;
          color: var(--greenie-pine, #03483F);
          text-align: right;
          font-family: Source Sans Pro;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
          align-items: center;
        }
      }

      &__content {
        width: 100%;
        display: flex;
        flex-direction: column;

        &--title {
          width: 287px;
          color: #000;
          font-family: Source Sans Pro;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 30px;

          img {
            display: initial;
          }
        }

        &--wrap {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .s__mobile-input-search {
    width: 100%;
    border-radius: 30px;
    border: 1px solid var(--greenie-pine, #03483F);
    background: #FFF;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      color: var(--back-1, #E1E1E1);
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: 8px;
      }
    }
  }
  .s__mobile-input-search-near {
    border-radius: 30px;
    border: 1px solid #0D4C3F;
    background: #FFF;
    width: 216px;
    height: 64px;
    flex-shrink: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: #2D4C3F;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    padding: 20px 24px;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        margin-right: 8px;
      }
    }
  }
  .type_activity-search-item {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--greenie-pine, #03483F);
    background: var(--white, #FFF);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--greenie-pine, #03483F);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    padding: 8px 24px;
    margin-bottom: 16px;

    &:hover {
      border-radius: 5px;
      border: 1px solid var(--greenie-pine, #03483F);
      background: var(--greenie-pine, #03483F);
      color: #fff;
    }
  }
  .icon-helf-mobile {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  .s__modal--wrapper {
    width: 100% !important;
    max-width: 100% !important;
    top: 0 !important;
    border-radius: 0 !important;
    height: 100vh !important;

  }
  .s__modal--wrapper__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px !important;
    right: 20px !important;
    cursor: pointer;
    z-index: 999;
  }
  .s__help--modal {
    padding: 0;
  }
  .s__help--title {
    margin-top: 0;
    text-align: left;
    justify-content: left;
    padding: 18px 20px;
    border-bottom: #E1E1E1 1px solid;
  }
  .s__help--description {
    margin-top: 40px;
    padding: 0 20px;
  }
  .s__help--type-tours__description {
    padding: 0 20px;
    width: 100%;
  }
  .s__help--modal {
    .s__line {
      width: 89%;
      height: 1px;
      margin: 32px auto;
      background: #E1E1E1;
    }
  }
  .icon-back-mobile {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    margin-right: 6px;
  }
  .text-back {
    color: #FFFDFD;
    font-family: Source Sans Pro !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: initial !important;
  }
  .s__box-search-mobile__header--title {
    align-items: center;
  }
  .s__box-search-mobile__wrapper--location-detail {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
      width: 100%;
      color: #000;
      font-family: Source Sans Pro;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 16px;
    }

    &__content {
      width: 100%;
    }
  }
  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .s__regulations--title {
    width: 100%;
    display: flex;

    span {
      width: 100%;
      display: flex;
      position: relative;

      &:after {
        content: url("/assets/images/icon-down-mobile.svg");
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .s__regulations {
    padding: 46px 0 16px 0;
  }
  .s__info-company {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;

    &__title {
      color: var(--rick-back, #121212);
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 8px;
    }

    &__item {
      color: var(--rick-back, #121212);
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .info-special {
    margin-top: 8px;
  }
  .info-special a {
    display: flex;
    margin-right: 8px;
  }
  .s__box-footer-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    &__head {
      width: 100%;
      display: flex;
      color: var(--rick-back, #121212);
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      span {
        width: 100%;
        display: flex;
        position: relative;

        &:after {
          content: url("/assets/images/icon-down-mobile.svg");
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }
  }
  .f_link-pay {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    span {
      display: flex;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .af-payment {
    &:after {
      content: '' !important;
    }
  }
  .f_text {
    width: 335px;
    color: var(--rick-back, #121212);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .s__copyright--right {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .d-flex {
      justify-content: flex-start;
    }
  }
  .s__activity--info__left {
    width: 100%;
    max-width: 100%;
  }
  .s__activity--info__left--short {
    width: 100%;
  }
  .s__activity--info {
    flex-direction: column;
  }
  .s__activity--info__right {
    width: 100%;
    max-width: 100%;

  }
  .list-activity-note__content {
    width: 100% !important;
  }
  .s__activity--dates__item--content .list-activity-note {
    width: 100%;
    margin-right: 0;
  }
  .s__activity--dates__item--content .list-activity-note-highlight {
    width: 100%;
  }
  .s__activity--dates__item--content {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .s__activity--wild-buddy__left {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .s__activity--wild-buddy__right {
    width: 100%;
    max-width: 100%;
  }
  .s__activity--wild-buddy {
    flex-direction: column;
  }
  .s__activity--wild-buddy__left--bottom {
    width: 100%;
  }
  .s__activity--box__content--question {
    width: 100%;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }
  .s__activity--box__content--question > * {
    flex: 0 0 0px;
  }
  .s__activity--box__content--question__item {
    width: 100%;
    display: flex;
    border-radius: 5px;
    background: var(--back-5, rgba(225, 225, 225, 0.3));
    padding: 14px 24px;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .s__activity--box__content--rate__left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .s__activity--box__content--rate {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .s__activity--box__content--rate__right {
    width: 100%;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid var(--back-1, #E1E1E1);
    padding: 16px 43px 32px 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .s__activity--box__content--rate__left--item__bottom {
    width: 100%;
    display: flex;
    color: #000;
    font-size: 16px;
    font-family: Source Sans Pro;
    line-height: 24px;
    margin-top: 16px;
  }
  .s__activity--register-group__left {
    width: 100%;
    display: flex;
    margin-right: 0;
  }
  .s__activity--register-group {
    flex-direction: column;
  }
  .s__activity--register-group__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .s__activity--register-group__right--description {
    width: 100%;
    color: #000;
    font-size: 16px;
    font-family: Source Sans Pro;
    line-height: 24px;
  }
  .s__header--activity__left ul li {
    margin-right: 39px;
    white-space: nowrap;

    a {
      color: #000;
      font-family: Source Sans Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .s__header--activity__left {
    width: 100%;
  }
  .s__header--activity {
    width: 100%;
    position: fixed;
    background: var(--white, #FFF);
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    top: 64px;
    left: 0;
    display: flex;
    box-shadow: 0 4px 2px -2px #ccc;
  }
  .s__header--activity__left ul li a {
    display: flex;
    padding: 12px 0;
  }
  .s__header--activity__left ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }
  .s__activity--title {
    width: 100%;
    display: flex;
    max-width: 670px;
    margin-bottom: 9px;
    color: #000;
    font-family: Source Sans Pro;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 24px;
  }
  .s__activity {
    margin-top: 64px;
  }
  .s__activity--level {
    margin-bottom: 34px;
  }
  .s__activity--info__left--intros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .s__activity--info__left--intros__item {
    margin-bottom: 21px;
  }
  .s__activity--box__content .carousel__slide {
    width: 100% !important;
  }
  .s__activity--dates__item--title {
    width: 100%;
    display: flex;
    color: #000;
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 5px;
    background: var(--back-5, rgba(225, 225, 225, 0.3));
    cursor: pointer;
    position: relative;
  }
  .s__activity--dates__item--title:after {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .s__activity--wild-buddy__left--head__avatar {
    width: 56px;
    height: 56px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 16px;
    align-items: center;
  }
  .s__activity--wild-buddy__left--head__info span:first-child {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__activity--wild-buddy__left--head__info span:last-child {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__activity--wild-buddy__left--bottom {
    width: 100%;
    display: flex;
    margin-top: 21px;
    color: #000;
    font-size: 16px;
    font-family: Source Sans Pro;
    line-height: 24px;
    color: #000;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 24px;
  }
  .s__activity--wild-buddy__right {
    width: 100%;
    padding: 24px 0;
    border-radius: 5px;
    background: var(--back-3, #FEF9E9);
    position: relative;

    &:after {
      content: "";
      width: 20px;
      height: 100%;
      position: absolute;
      left: -20px;
      top: 0;
      background: var(--back-3, #FEF9E9);
    }

    &:before {
      content: "";
      width: 20px;
      height: 100%;
      position: absolute;
      right: -20px;
      top: 0;
      background: var(--back-3, #FEF9E9);
    }
  }
  .mb-104 {
    margin-bottom: 64px;
  }
  .s__activity--box__title h2 {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__activity--box__content--inline {
    flex-direction: column;
  }
  .s__half {
    width: 100%;
    display: flex;
  }
  .s__take-away__wrap--title {
    color: #FFFDFD;
    font-family: Source Sans Pro;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__take-away__wrap {
    width: 100%;
    padding-top: 39px;
    padding-bottom: 48px;
  }
  .mt-80 {
    margin-top: 64px;
  }
  .s__activity--box__content--question__item--qs {
    color: #000;
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: 600;
    width: 100%;
    position: relative;
  }
  .s__activity--box__content--question__item--aw {
    width: 100%;
    display: flex;
    margin-top: 14px;
    color: #000;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .s__activity--box__content--rate__right {
    margin-bottom: 24px;
    padding: 25px;
    display: flex;
    flex-direction: unset;
  }
  .m_rate_left {
    width: 50%;

  }
  .m_rate_right {
    width: 50%;
    padding-left: 10px;
    border-left: #E1E1E1 1px solid;
  }
  .s__activity--box__content--rate__right--total {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .s__activity--box__content--rate__right--star {
    display: flex;
    width: 100%;
    margin-top: 8px;
    justify-content: center;
  }
  .s__activity--box__content--rate__right--star span {
    display: flex;
    width: 20.8px;
    height: 20.8px;
    margin-right: 4px;
  }
  .s__activity--box__content--rate__right--link-rate {
    color: #0D4C3F;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    justify-content: center;
  }
  .s__activity--box__content--rate__right--list-rate {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  .s__activity--box__content--rate__left--item {
    border-bottom: #E1E1E1 1px solid;
    padding-bottom: 24px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  .s__activity--box__content--rate-paginate {
    width: 100%;
    display: flex;
    margin-bottom: 66px;
  }
  .s__activity--register-group__right--title {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 9.68px;
  }
  .s__activity--register-group {
    width: 100%;
    display: flex;
    margin-bottom: 64px;
  }
  .s__activities--items > * {
    flex: 0 1 100%;
  }
  .is-page-activities {
    .s__copyright--right {
      padding-bottom: 130px;
    }
  }
  .s__info-activity-mobile {
    width: 100%;
    background: #FCE6A4;
    padding: 12px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    &__less {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &--left {
        width: calc(100% - 122px);
        display: flex;
        flex-direction: column;
        &__price{
          color: #000;
          font-family: Source Sans Pro;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        &__des{
          color: #000;
          font-family: Source Sans Pro;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }
      }
      &--right{
        width: 122px;

      }
    }
  }
  .btn-choose-date-activity{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 5px;
    background: var(--greenie-pine, #03483F);
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 8px;
  }
}
