body {
  font-family: 'Source Sans Pro', sans-serif;
}

.s__header {
  width: 100%;
  display: flex;
  padding: 16px 47px 16px 42px;
  background: var(--primary);
  justify-content: space-between;
  position: relative;
  align-items: center;
  &--logo {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      img {
        max-width: 56px;
      }
    }
  }

  &--arrow {
    margin-left: 10.23px;
    cursor: pointer;
    &.active{
      img{
        transform: rotate(-180deg);
      }
    }
  }

  &--search {
    width: 370px;
    max-width: 370px;
    height: 41px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    padding: 11px 25.73px 12px 24px;
    justify-content: space-between;
    cursor: pointer;

    span:first-child {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */


      color: #FFFFFF;

      /* Default */

      text-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
    }

    &__active {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 600;

      line-height: 20px;
      text-align: center;

      /* White */

      color: #FFFFFF;


      span:first-child {
        font-size: 16px;
        margin-right: 3px;
      }

      span:last-child {
        color: #FCDC17;
        font-size: 16px;
      }
    }
  }

  &--lang {
    display: flex;
    justify-content: space-between;

    &__left {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: right;

      /* White */

      color: #FFFFFF;
      position: relative;
      padding: 0 14px;
      cursor: pointer;

      &:after {
        position: absolute;
        content: url('assets/images/icon-arrow-down.svg');
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &__right {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;

      /* White */

      color: #FFFFFF;
      margin-left: 23.99px;
    }
  }

  &--box-search {
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    padding: 23px 0 30px 0;
    /* Default */

    box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
    background: #FFFFFF;
    &__wrap{
      max-width: 830px;
      margin: 0 auto;
      background: #FFFFFF;
      /* Back 1 */

      border: 1px solid #E1E1E1;
      border-radius: 50px;
      padding: 10px 24px 16px 30px;
      display: flex;
      align-items: center;
      position: relative;
      &--location{
        max-width: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-right: 14px;
        cursor: pointer;
        &__box{
          max-width: 712px;
          width: 712px;
          background: #FFFFFF;
          border: 1px solid #0D4C3F;
          /* Default */

          box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
          border-radius: 30px;
          position: absolute;
          top: calc(100% - 9px);
          padding: 25px 24px 0 24px;
          display: flex;
          flex-direction: column;
        }
        &__here{
          max-width: 256px;
          width: 256px;
          height: 56px;
          /* Back 7 */

          background: rgba(254, 249, 233, 0.5);
          /* Greenie Pine */

          border: 1px solid #03483F;
          border-radius: 30px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 28px;
          a{
            width: 100%;
            display: flex;
          }
          span{
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            align-items: flex-end;
            text-decoration-line: underline;

            color: #2D4C3F;
            &:first-child{
              margin-left: 25.72px;
              margin-right: 9.71px;
            }
          }
        }
        &__country{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          margin-bottom: 32px;
          >* {
            flex: 0 1 120px;
          }
          &--item{
            max-height: 108px;
            height: 108px;

            border-radius: 5px;
            cursor: pointer;
            .img-item{
              width: 100%;
              position: relative;
              img{
                object-fit: cover;
                border-radius: 5px 5px 0 0 ;
              }
            }
            .title-item{
              background: #E1E1E1;
              border-radius: 0px 0px 5px 5px;
              padding: 4px 0 5px 8px;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              /* identical to box height */


              color: #000000;
            }
          }
        }
        &__activity{
          display: flex;
          position: absolute;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid #0D4C3F;
          /* Default */

          box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
          border-radius: 30px;
          top: calc(100% + 9px);
          padding: 24px 28px;
          flex-direction: column;
          .item{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */


            color: #888888;
            padding: 8px 0;
          }
        }
        &__book{
          display: flex;
          position: absolute;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid #0D4C3F;
          /* Default */

          box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
          border-radius: 30px;
          top: calc(100% + 9px);
          padding: 24px 28px;
          flex-direction: column;
          .item{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */


            color: #888888;
            padding: 8px 0;
          }
        }
      }
      &--type{
        max-width: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-right: 14px;
        cursor: pointer;
        position: relative;
      }
      &--book{
        max-width: 184px;
        width: 184px;
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        cursor: pointer;
        position: relative;
      }
      &--label{
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */


        color: #000000;
        padding-left: 24px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        span:first-child{
          margin-right: 5px;
        }
      }
      &--input{
        width: 100%;
        background: rgba(225, 225, 225, 0.3);
        /* Greenie Pine */
        border-radius: 30px;
        height: 40px;
        padding: 7.8px 0 8.2px 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        color: #888888;
      }
      &--button{
        width: 40px;
        height: 40px;
        background: #0D4C3F;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-top: 18px;
        cursor: pointer;
      }
    }
  }
  &--box-nav{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: calc(100vh - 73px);
    background: #fff;
    display: flex;
    &__left{
      max-width: 20%;
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 35.5px 0;
      background: #f6f6f6;
      .item{
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */
        cursor: pointer;

        /* Black 1 */

        color: #888888;
        padding-left: 95px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        position: relative;
        &.active{
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          /* identical to box height */


          /* Greenie Pine */

          color: #03483F;
          &:before{
            content: '';
            width: 79px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            background: #F9CF4B;
          }
        }
      }
    }
    &__right{
      width:  80%;
      max-width: 80%;
      height: 100%;
      background: #fff;
      position: relative;
      &--location{
        width: 100%;
        display: flex;
        &-wrap-items{
          padding: 48px 100px 86px 100px;
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          margin-bottom: 32px;
          justify-content: center;
          >* {
            flex: 0 1 230px;
          }
          &__item{
            height: 208px;
            border-radius: 5px;
            max-height: 208px;
            cursor: pointer;
            .img-item{
              width: 100%;
              position: relative;
              max-height: 160px;
              img{
                object-fit: cover;
                border-radius: 5px 5px 0 0 ;
              }
            }
            .title-item{
              background: #E1E1E1;
              border-radius: 0px 0px 5px 5px;
              padding: 12px 0 13px 16px;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 23px;
              /* identical to box height */


              color: #000000;
            }
          }
        }
        &-wrap-item-detail{
          width: 100%;
          display: flex;
          align-items: flex-start;
          .left{
            width: 60%;
            padding: 48px 100px;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-bottom: 32px;
            height: auto;
            >* {
              flex: 0 1 100px;
            }
            &__item{
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              /* identical to box height, or 133% */


              color: #121212;

            }
          }
          .right{
            width: 40%;
            max-width: 40%;
            height: calc(100vh - 73px);
            display: flex;
            position: relative;
            background: #ccc;
            &__name{
              position: absolute;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-style: normal;
              font-weight: 600;
              font-size: 48px;
              line-height: 60px;
              text-align: center;
              letter-spacing: 0.2em;
              text-transform: uppercase;

              /* White */

              color: #FFFFFF;
              top: 40px;
            }
            &__image{
              width: 100%;
              height: 100%;
              position: relative;
              img{
                position: absolute;
                object-fit: cover;
                height: 100%;
              }
            }
          }
        }
      }
      &--level{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        padding: 48px 100px 48px 100px;
        justify-content: center;
        >* {
          flex: 0 1 230px;
        }
        &__item{
          height: 304px;
          border-radius: 5px;
          max-height: 304px;
          cursor: pointer;
          .img-item{
            width: 100%;
            position: relative;
            max-height: 256px;
            img{
              object-fit: cover;
              border-radius: 5px 5px 0 0 ;
            }
          }
          .title-item{
            background: #E1E1E1;
            border-radius: 0px 0px 5px 5px;
            padding: 12px 0 13px 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            /* identical to box height */


            color: #000000;
          }
        }
      }
      &--type-activity{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        padding: 48px 100px 48px 100px;
        justify-content: flex-start;
        >* {
          flex: 0 1 135px;
        }
        &__item{
          border-radius: 5px;
          cursor: pointer;
          .icon{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12.09px;
          }
          .name{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            /* identical to box height, or 133% */


            /* Black 1 */

            color: #888888;
            text-align: center;
          }
        }
      }
      &--collection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        padding: 48px 100px 48px 100px;
        justify-content: center;
        >* {
          flex: 0 1 230px;
        }
        &__item{
          height: 304px;
          border-radius: 5px;
          max-height: 304px;
          cursor: pointer;
          .img-item{
            width: 100%;
            position: relative;
            max-height: 256px;
            img{
              object-fit: cover;
              border-radius: 5px 5px 0 0 ;
            }
          }
          .title-item{
            background: #E1E1E1;
            border-radius: 0px 0px 5px 5px;
            padding: 12px 0 13px 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            /* identical to box height */


            color: #000000;
          }
        }
      }
    }
  }
}
.s__header--text-nav{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  /* White */

  color: #FFFFFF;
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCDC17;
    margin-right: 3px;
    margin-left: 3px;
  }
}
.icon-close{
  cursor: pointer;
}
