body {
  font-family: 'Source Sans Pro', sans-serif;
}

.s__header {
  width: 100%;
  display: flex;
  padding: 16px 47px 16px 42px;
  background: rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 999;
  &.fixed{
    background: var(--primary);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  &--logo {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      img {
        max-width: 56px;
      }
    }
  }

  &--arrow {
    margin-left: 10.23px;
    cursor: pointer;

    &.active {
      img {
        transform: rotate(-180deg);
      }
    }
  }

  &--search {
    width: 370px;
    max-width: 370px;
    height: 41px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    padding: 11px 25.73px 12px 24px;
    justify-content: space-between;
    cursor: pointer;

    span:first-child {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */


      color: #FFFFFF;

      /* Default */

      text-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
    }

    &__active {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 600;

      line-height: 20px;
      text-align: center;

      /* White */

      color: #FFFFFF;


      span:first-child {
        font-size: 16px;
        margin-right: 3px;
      }

      span:last-child {
        color: #FCDC17;
        font-size: 16px;
      }
    }
  }

  &--lang {
    display: flex;
    justify-content: space-between;

    &__left {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: right;

      /* White */

      color: #FFFFFF;
      position: relative;
      padding: 0 14px;
      cursor: pointer;

      &:after {
        position: absolute;
        content: url('assets/images/icon-arrow-down.svg');
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &__right {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;

      /* White */

      color: #FFFFFF;
      margin-left: 23.99px;
    }
  }

  &--box-search {
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    padding: 23px 0 30px 0;
    /* Default */

    box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
    background: #FFFFFF;

    &__wrap {
      max-width: 830px;
      margin: 0 auto;
      background: #FFFFFF;
      /* Back 1 */

      border: 1px solid #E1E1E1;
      border-radius: 50px;
      padding: 10px 24px 16px 30px;
      display: flex;
      align-items: center;
      position: relative;

      &--location {
        max-width: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-right: 14px;
        cursor: pointer;

        &__box {
          max-width: 712px;
          width: 712px;
          background: #FFFFFF;
          border: 1px solid #0D4C3F;
          /* Default */

          box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
          border-radius: 30px;
          position: absolute;
          top: calc(100% - 9px);
          padding: 25px 24px 0 24px;
          display: flex;
          flex-direction: column;
        }

        &__here {
          max-width: 256px;
          width: 256px;
          height: 56px;
          /* Back 7 */

          background: rgba(254, 249, 233, 0.5);
          /* Greenie Pine */

          border: 1px solid #03483F;
          border-radius: 30px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 28px;

          a {
            width: 100%;
            display: flex;
          }

          span {
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            align-items: flex-end;
            text-decoration-line: underline;

            color: #2D4C3F;

            &:first-child {
              margin-left: 25.72px;
              margin-right: 9.71px;
            }
          }
        }

        &__country {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          margin-bottom: 32px;

          > * {
            flex: 0 1 120px;
          }

          &--item {
            max-height: 108px;
            height: 108px;

            border-radius: 5px;
            cursor: pointer;

            .img-item {
              width: 100%;
              position: relative;

              img {
                object-fit: cover;
                border-radius: 5px 5px 0 0;
              }
            }

            .title-item {
              background: #E1E1E1;
              border-radius: 0px 0px 5px 5px;
              padding: 4px 0 5px 8px;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              /* identical to box height */


              color: #000000;
            }
          }
        }

        &__activity {
          display: flex;
          position: absolute;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid #0D4C3F;
          /* Default */

          box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
          border-radius: 30px;
          top: calc(100% + 9px);
          padding: 24px 28px;
          flex-direction: column;

          .item {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */


            color: #888888;
            padding: 8px 0;
          }
        }

        &__book {
          display: flex;
          position: absolute;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid #0D4C3F;
          /* Default */

          box-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
          border-radius: 30px;
          top: calc(100% + 9px);
          padding: 24px 28px;
          flex-direction: column;

          .item {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */


            color: #888888;
            padding: 8px 0;
          }
        }
      }

      &--type {
        max-width: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-right: 14px;
        cursor: pointer;
        position: relative;
      }

      &--book {
        max-width: 184px;
        width: 184px;
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        cursor: pointer;
        position: relative;
      }

      &--label {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */


        color: #000000;
        padding-left: 24px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;

        span:first-child {
          margin-right: 5px;
        }
      }

      &--input {
        width: 100%;
        background: rgba(225, 225, 225, 0.3);
        /* Greenie Pine */
        border-radius: 30px;
        height: 40px;
        padding: 7.8px 0 8.2px 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        color: #888888;
      }

      &--button {
        width: 40px;
        height: 40px;
        background: #0D4C3F;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-top: 18px;
        cursor: pointer;
      }
    }
  }

  &--box-nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: calc(100vh - 73px);
    background: #fff;
    display: flex;

    &__left {
      max-width: 20%;
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 35.5px 0;
      background: #f6f6f6;

      .item {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */
        cursor: pointer;

        /* Black 1 */

        color: #888888;
        padding-left: 95px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        position: relative;

        &.active {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          /* identical to box height */


          /* Greenie Pine */

          color: #03483F;

          &:before {
            content: '';
            width: 79px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            background: #F9CF4B;
          }
        }
      }
    }

    &__right {
      width: 80%;
      max-width: 80%;
      height: 100%;
      background: #fff;
      position: relative;

      &--location {
        width: 100%;
        display: flex;

        &-wrap-items {
          padding: 48px 100px 86px 100px;
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          margin-bottom: 32px;
          justify-content: center;

          > * {
            flex: 0 1 230px;
          }

          &__item {
            height: 208px;
            border-radius: 5px;
            max-height: 208px;
            cursor: pointer;

            .img-item {
              width: 100%;
              position: relative;
              max-height: 160px;

              img {
                object-fit: cover;
                border-radius: 5px 5px 0 0;
              }
            }

            .title-item {
              background: #E1E1E1;
              border-radius: 0px 0px 5px 5px;
              padding: 12px 0 13px 16px;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 23px;
              /* identical to box height */


              color: #000000;
            }
          }
        }

        &-wrap-item-detail {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .left {
            width: 60%;
            padding: 48px 100px;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-bottom: 32px;
            height: auto;

            > * {
              flex: 0 1 100px;
            }

            &__item {
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              /* identical to box height, or 133% */


              color: #121212;

            }
          }

          .right {
            width: 40%;
            max-width: 40%;
            height: calc(100vh - 73px);
            display: flex;
            position: relative;
            background: #ccc;

            &__name {
              position: absolute;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-style: normal;
              font-weight: 600;
              font-size: 48px;
              line-height: 60px;
              text-align: center;
              letter-spacing: 0.2em;
              text-transform: uppercase;

              /* White */

              color: #FFFFFF;
              top: 40px;
            }

            &__image {
              width: 100%;
              height: 100%;
              position: relative;

              img {
                position: absolute;
                object-fit: cover;
                height: 100%;
              }
            }
          }
        }
      }

      &--level {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        padding: 48px 80px 48px 100px;
        justify-content: center;

        > * {
          flex: 0 1 230px;
        }

        &__item {
          height: 304px;
          border-radius: 5px;
          max-height: 304px;
          cursor: pointer;

          .img-item {
            width: 100%;
            position: relative;
            max-height: 256px;

            img {
              object-fit: cover;
              border-radius: 5px 5px 0 0;
            }
          }

          .title-item {
            background: #E1E1E1;
            border-radius: 0px 0px 5px 5px;
            padding: 12px 0 13px 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            /* identical to box height */


            color: #000000;
          }
        }
      }

      &--type-activity {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        padding: 48px 100px 48px 100px;
        justify-content: flex-start;

        > * {
          flex: 0 1 135px;
        }

        &__item {
          border-radius: 5px;
          cursor: pointer;

          .icon {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12.09px;
          }

          .name {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            /* identical to box height, or 133% */


            /* Black 1 */

            color: #888888;
            text-align: center;
          }
        }
      }

      &--collection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        padding: 48px 80px 48px 100px;
        justify-content: center;

        > * {
          flex: 0 1 230px;
        }

        &__item {
          height: 304px;
          border-radius: 5px;
          max-height: 304px;
          cursor: pointer;

          .img-item {
            width: 100%;
            position: relative;
            max-height: 256px;

            img {
              object-fit: cover;
              border-radius: 5px 5px 0 0;
            }
          }

          .title-item {
            background: #E1E1E1;
            border-radius: 0px 0px 5px 5px;
            padding: 12px 0 13px 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            /* identical to box height */


            color: #000000;
          }
        }
      }
      &--coupon {
        width: 100%;
        margin-bottom: 32px;
        padding: 48px 80px 48px 100px;
      }
    }
  }
}

.s__header--text-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  /* White */

  color: #FFFFFF;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCDC17;
    margin-right: 3px;
    margin-left: 3px;
  }
}

.icon-close {
  cursor: pointer;
}

.s__slider {
  width: 100%;
  margin-top: -73px;
  max-height: 100vh;
  height: 100vh;
  position: relative;

  &--main {
    width: 100%;
    height: 100%;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      position: relative;
      &--gradient{
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #000000 0%, rgba(8, 8, 8, 0.641622) 53.24%, rgba(18, 18, 18, 0) 100%);
        transform: rotate(-180deg);
        height: 100%;
        width: 100%;
        z-index: 9;
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }

    &__description {
      width: 100%;
      position: absolute;
      bottom: 56px;
      z-index: 99;
      &--title {
        font-style: normal;
        font-weight: 600;
        font-size: 57px;
        line-height: 72px;
        text-transform: uppercase;
        margin-left: 80px;
        /* White */

        color: #FFFFFF;

        /* Default */

        text-shadow: 2px 2px 7px rgba(18, 18, 18, 0.5);
        max-width: 549px;
      }

      &--short {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */


        /* White */

        color: #FFFFFF;
        max-width: 549px;
        margin-top: 24px;
        margin-left: 80px;
        margin-bottom: 30px;
      }

      &--button {
        width: 100%;
        display: flex;

        a {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;

          /* White */

          color: #FFFFFF;


          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          border: 1px solid #FFFFFF;
          border-radius: 20px;
          padding: 10px 20px;
          margin-left: 80px;
        }
      }
    }

    &__thumbnail {
      width: 84px;
      height: calc(100vh - 73px);
      position: absolute;
      right: 56px;
      top: 73px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 99;
      &--item {
        width: 100%;
        height: 84px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 14px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        &.active {
          border: 1px solid #FCDC17;
          border-radius: 5px;

          .s__opacity {
            opacity: 0;
          }
        }
      }

      &--next {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }
  }

  ol {
    width: 84px;
    display: flex;
    flex-direction: column;

    li {
      width: 100% !important;
      margin-bottom: 14px;
    }
  }
}

#thumbnailsSlider {
  position: absolute;
  top: 73px;
  right: 56px;
}

.s__footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.register-info {
    width: 100%;
    max-height: 344px;
    height: 344px;
    background-image: url("assets/images/inner-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    //&:before {
    //  content: "";
    //  position: absolute;
    //  width: 100%;
    //  top: 0;
    //  left: 0;
    //  height: 100%;
    //  background: #121212;
    //  opacity: 0.5;
    //}

    &__description {
      font-style: normal;
      font-weight: 600;
      font-size: 37px;
      line-height: 47px;
      text-align: center;

      /* White */

      color: #FFFFFF;
      z-index: 999;
      margin-bottom: 21px;
    }

    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;

      a {
        width: 225px;
        max-width: 225px;
        height: 40px;
        /* Greenie Pine */

        background: #03483F;
        border-radius: 5px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
      }
    }
  }

  &.main-footer {
    width: 100%;
    height: 500px;
    background: #fff;
    border-radius: 30px 30px 0 0;
    margin-top: -40px;
    z-index: 999;
  }
}

.s__container {
  max-width: 1170px;
  margin: 0 auto;
}

.s__regulations {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 32px 0;

  &--title {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */


    color: #000000;
    margin-bottom: 20px;
  }

  &--description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #000000;
    margin-top: 20px;
  }
}

.s__line {
  width: 100%;
  height: 1px;
  background: #E1E1E1;
}

.s__info {
  width: 100%;
  display: flex;
  margin-top: 24px;

  &--left {
    width: 50%;
  }

  &--right {
    width: 50%;
    display: flex;
  }
}

.f__label {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */


  color: #000000;
  margin-bottom: 12px;
}

.info-company {
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;
    margin-bottom: 8px;
  }
}

.info-special {
  display: flex;
  width: 100%;
  margin-top: 34.29px;

  a {
    display: flex;
    margin-right: 12.23px;
  }
}

.w-50 {
  width: 50%;
}

.method-pay {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

.f_link {
  width: 100%;
  display: flex;
  flex-direction: column;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;
    padding: 4px 0;
  }
}

.s__sitemap {
  width: 100%;
  display: flex;
  margin-top: 50.29px;

  &--item {
    width: calc(100% / 5);
  }
}

.mt-48 {
  margin-top: 48px;
}

.cl-main {
  background: var(--primary);
  margin-top: 50px;
  margin-bottom: 24px;
}

.s__copyright {
  width: 100%;
  display: flex;
  margin-bottom: 141px;

  &--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Rick Back */

    color: #121212;
  }

  &--right {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.s__topic {
  width: 100%;
  margin-top: 106px;

  &--top {
    width: 100%;
    display: flex;
    margin-bottom: 18.29px;

    &__left {
      width: 570px;
      max-width: 570px;
      max-height: 640px;
      margin-right: 30px;
    }

    &__right {
      width: 570px;
      max-width: 570px;
      max-height: 640px;

      &--head {
        width: 100%;
        height: 304px;
        max-height: 304px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 32px;
      }

      &--bottom {
        width: 100%;
        height: 304px;
        max-height: 304px;
        border-radius: 5px;
        position: relative;
        display: flex;

        &__left {
          width: 270px;
          max-width: 270px;
          height: 100%;
          margin-right: 30px;
          position: relative;
        }

        &__right {
          width: 270px;
          max-width: 270px;
          height: 100%;
          position: relative;
        }
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 5px;

      &--image {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        border-radius: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      &--info {
        position: absolute;
        bottom: 24px;
        display: flex;
        flex-direction: column;
        padding: 0 24.92px;
        z-index: 2;

        &.has-bg {
          background: #0D4C3F;
          border-radius: 5px;
          padding: 24px;
        }

        &.w-345 {
          max-width: 345px;
        }

        &__title {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          /* identical to box height */


          color: #FFFFFF;
        }

        &__description {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */


          color: #FFFFFF;
          margin-top: 7px;
          margin-bottom: 16px;
        }

        &__button {
          width: 100%;
          display: flex;
          a {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;

            /* White */

            color: #FFFFFF;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
            border: 1px solid #FFFFFF;
            border-radius: 20px;
            padding: 10px 20px;
          }
        }
      }
    }
  }

  &--slider {
    width: 100%;

    &__head {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 18.29px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12.57px;

        &.icon-slider {
          width: 27.43px;
          height: 27.43px;
          display: flex;;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: #E1E1E1;
        }

        &.next {
          img {
            transform: rotate(180deg);
          }
        }

        &.active {
          background: #0D4C3F;
        }
      }
    }

    &__content {
      width: 100%;
      display: flex;

      &--item {
        width: calc(100% / 2);
        max-width: calc(100% / 2);
        height: 304px;
        max-height: 304px;
        display: flex;

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

.s__endow {
  width: 100%;
  margin-top: 106px;
  margin-bottom: 88px;

  &--content {
    width: 100%;
    display: flex;

    &__left {
      width: 370px;
      max-width: 370px;
      display: flex;
      flex-direction: column;
      margin-right: 30px;

      &--item {
        width: 100%;
        height: 400px;
        max-height: 400px;
        background: #888888;
        border-radius: 5px;
        margin-bottom: 16px;
      }

      &--button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;

          /* Greenie Pine */

          color: #03483F;


          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          border: 1px solid #03483F;
          border-radius: 20px;
          padding: 10px 20px;
        }
      }
    }

    &__right {
      width: calc(100% - 370px);
      max-width: calc(100% - 370px);
      display: flex;
      flex-direction: column;
    }
  }
}

.s__box_label {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 47px;
  /* identical to box height */


  color: #000000;
  margin-bottom: 24px;
}

.s__box_description {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #000000;
  margin-bottom: 33px;
}

.s__opacity {
  width: 100%;
  position: absolute;
  height: 100%;
  background: #121212;
  opacity: 0.5;
  border-radius: 5px;
}

.s__opacity-item {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.6) 0%, rgba(18, 18, 18, 0) 65.1%);
  border-radius: 5px;
  transform: rotate(-180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.s__experience {
  width: 100%;
  padding: 88px 0 100px 0;
  background-image: url("assets/images/cover-ex.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &--head {
    width: 100%;

    &__title {
      width: 100%;
      font-style: normal;
      font-weight: 600;
      font-size: 37px;
      line-height: 47px;
      /* identical to box height */


      /* White */

      color: #FFFFFF;
    }

    &__description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      /* White */

      color: #FFFFFF;
      margin-top: 17px;
      max-width: 670px;
    }
  }

  &--one {
    width: 100%;

  }

  &--two {
    width: 100%;
    margin-top: 40px;
  }
}

.s__experience--one {
  .carousel__slide {
    margin: 15px;
    max-width: 370px;
    border-radius: 5px;
  }

  .carousel__item {
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &--image {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 15px;
      position: relative;

      &__icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 80px;
        height: 80px;
        background: #fff;
        border-radius: 5px;
      }

      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    &--head {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__left {
        width: 50%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        text-transform: uppercase;

        /* Black 1 */

        color: #888888;
        display: flex;
      }

      &__right {
        width: 50%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;
        /* White */

        color: #FFFFFF;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8.14px;
        }

      }
    }

    &--title {
      width: 100%;
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        /* White */

        color: #FFFFFF;
        text-align: left;
      }
    }

    &--price {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      /* White */

      color: #FFFFFF;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 8px;
    }
  }

  .carousel__next {
    width: 41.14px;;
    height: 41.14px;
    background: rgba(225, 225, 225, 0.3);
    border-radius: 50%;

    svg {
      color: #fff;
    }
  }

  .carousel__prev {
    width: 41.14px;;
    height: 41.14px;
    background: rgba(225, 225, 225, 0.3);
    border-radius: 50%;

    svg {
      color: #fff;
    }
  }
}

.s__experience--two {
  .carousel__slide {
    margin: 15px;
    max-width: 370px;
    border-radius: 5px;
  }

  .carousel__item {
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &--image {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 15px;
      position: relative;

      &__icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 80px;
        height: 80px;
        background: #fff;
        border-radius: 5px;
      }

      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    &--head {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__left {
        width: 60%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        text-transform: uppercase;

        /* Black 1 */

        color: #888888;
        display: flex;
        text-align: left;
      }

      &__right {
        width: 40%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;
        /* White */

        color: #FFFFFF;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8.14px;
        }

      }
    }

    &--title {
      width: 100%;
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        /* White */

        color: #FFFFFF;
        text-align: left;
      }
    }

    &--price {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      /* White */

      color: #FFFFFF;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 8px;
    }
  }

  .carousel__next {
    width: 41.14px;;
    height: 41.14px;
    background: rgba(225, 225, 225, 0.3);
    border-radius: 50%;

    svg {
      color: #fff;
    }
  }

  .carousel__prev {
    width: 41.14px;;
    height: 41.14px;
    background: rgba(225, 225, 225, 0.3);
    border-radius: 50%;

    svg {
      color: #fff;
    }
  }
}

.s__activities {
  width: 100%;
  background: #fff;
  margin-top: 88px;

  &--items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;

    > * {
      flex: 0 1 370px;
    }

    &__item {
      width: 100%;
      display: flex;
      flex-direction: column;

      a {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &--image {
        width: 100%;
        border-radius: 5px;
        position: relative;

        &__icon {
          position: absolute;
          top: 8px;
          right: 8px;
          width: 48px;
          height: 48px;
          background: #fff;
          border-radius: 5px;

          img {
            width: 100%;
          }
        }

        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      &--head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        margin-bottom: 5px;

        &__left {
          width: 70%;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          /* identical to box height, or 157% */

          text-transform: uppercase;

          /* Black 1 */

          color: #888888;
          display: flex;
        }

        &__right {
          width: 30%;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: right;
          justify-content: flex-end;
          /* White */

          color: #000000;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8.14px;
          }

        }
      }

      &--title {
        width: 100%;
        text-align: left;
        margin-bottom: 8px;

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;

          color: #121212;
        }
      }

      &--price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000000;
        width: 100%;
        text-align: left;
      }
    }


  }

  &--more {
    width: 100%;
    display: flex;
    margin-top: 28px;
    margin-bottom: 84px;

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: flex-end;
      text-decoration-line: underline;

      color: #2D4C3F;
      width: 100%;
    }
  }
}

.s__customers {
  width: 100%;
  background: rgba(225, 225, 225, 0.3);
  padding-top: 34px;
  padding-bottom: 33px;

  &--title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;

    color: #000000;

  }

  &--items {
    width: 100%;
    display: flex;
    margin-top: 57px;
    &__item {
      display: flex;
      flex-direction: column;
      flex: 1 1 246px;
      &:nth-child(3){
        margin-top: -24px;
      }
      > div{
        color: white;
        background: #fff;
        margin: 12px;
        padding: 24px;
        border-radius: 5px;
      }
    }
  }
}
.h-176{
  height: 176px;
  max-height: 176px;
}
.h-248{
  height: 248px;
  max-height: 248px;
}
.h-272{
  height: 272px;
  max-height: 272px;
}
.h-200{
  height: 200px;
  max-height: 200px;
}
.s__container--1326{
  max-width: 1326px;
  margin: 0 auto;
}
.item-customer{
  width: 100%;
  display: flex;
  flex-direction: column;
  &__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--avatar{
      max-width: 32px;
      width: 32px;
      border-radius: 50%;
      margin-right: 8px;
      img{
        width: 100%;
        border-radius: 50%;
      }
    }
    &--info{
      display: flex;
      flex-direction: column;
      width: calc(100% - 32px);
      .name{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        color: #000000;

      }
      .star{
        display: flex;
        span{
          margin-right: 2.2px;
        }
        img{
          width: 13.73px;
        }
      }
    }
    &--icon{
      display: flex;
      margin-top: -15px;
    }
  }
  &__content{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #000000;
    margin-top: 20.15px;
  }
}
.total_star{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  color: #121212;
  margin-left: 3px;
}
.has-left{
  left: 24.92px;
}
.register-info__gradient{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #121212;
  opacity: 0.5;
  height: 100%;
}
.regulations__more{
  cursor: pointer;
}
.more__vn{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;

  /* Greenie Pine */

  color: #03483F;
}
